/* Imports */
@import "components/reset";

/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.background {
    min-height: 100%;
    width: 100%;
}


.search {
    padding-top: 40px !important;
    background: #3399ff;
    box-shadow: 0 3px 30px rgba(0, 0, 0, .3);
    

    .row {
        border-radius: 20px;
        padding: 0 10px;

        input {
            border-bottom: 2px solid white !important;
            color: white;
            padding-left: 10px;
            font-size: 20px !important;
            text-indent: 20px;
            
            &::placeholder {
                color: white;
            }
        }

        .btn {
            background: white !important;
            color: black;
        }
    }
}

.card {
    border-radius: 20px !important;
}

#map {
    height: 400px;
    border-radius: 40px;
    margin: 30px auto;
}

.title {
    font-size: 30px;
    padding: 20px 0;
    display: block;
}

a {
    color: black !important;
}

#logo{
    width: 10vw;
}

@media only screen and (max-width: 600px) {
    #logo{
        width: 20vw;
    }
}

.btn {
    
}