/* Imports */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  line-height: 1;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #a9a9a9;
}

:-ms-input-placeholder {
  color: #a9a9a9;
}

::-ms-input-placeholder {
  color: #a9a9a9;
}

::placeholder {
  color: #a9a9a9;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.background {
  min-height: 100%;
  width: 100%;
}

.search {
  padding-top: 40px !important;
  background: #3399ff;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
}

.search .row {
  border-radius: 20px;
  padding: 0 10px;
}

.search .row input {
  border-bottom: 2px solid white !important;
  color: white;
  padding-left: 10px;
  font-size: 20px !important;
  text-indent: 20px;
}

.search .row input::-webkit-input-placeholder {
  color: white;
}

.search .row input:-ms-input-placeholder {
  color: white;
}

.search .row input::-ms-input-placeholder {
  color: white;
}

.search .row input::placeholder {
  color: white;
}

.search .row .btn {
  background: white !important;
  color: black;
}

.card {
  border-radius: 20px !important;
}

#map {
  height: 400px;
  border-radius: 40px;
  margin: 30px auto;
}

.title {
  font-size: 30px;
  padding: 20px 0;
  display: block;
}

a {
  color: black !important;
}

#logo {
  width: 10vw;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 20vw;
  }
}
/*# sourceMappingURL=main.css.map */